@model IEnumerable<project.Models.skills>

@{
    ViewData["Title"] = "Index";
}

<h1>SKILLS</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.skill_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.skill_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ski_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ski_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ski_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
