@model IEnumerable<project.Models.certificates>

@{
    ViewData["Title"] = "Index";
}

<h1>CERTIFICATES</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.issued_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.issued_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.issued_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.issued_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.certif_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.certif_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.certif_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
